@font-face {
  font-family:PressStart2P;
  src:url(PressStart2P-Regular.ttf);
}

body, input {
  font-family:PressStart2P;
  font-size:20px;
}

#mathsContainer {
	width:1200px;
    margin:auto;
}

#actionContainer {

}

#inventoryContainer {
	width:200px;
    height:800px;
    float:left;
}

#battleContainer {
	width:640px;
	padding-left:80px;
	padding-right:80px;
	float:left;
}

#canvasContainer {
	width:640px;
	height:480px;
	z-index:0;
	background-image: url(images/arena01.png);
	background-repeat:no-repeat;
	position:relative;
}

#statusContainer {
	width:200px;
	height:800px;

	float:left;
}

#answerInput {
	width:638px;
	height:30px;
	border:1px solid red;
	text-align:center;
	color: red;
	top:480px;
	padding:0px;
}

.textOverlay {
	position:absolute;
	z-index:1;
	margin:0px; /* for perfectly flush p's */
}

#problemString {
	top:6px;
	left:4px;
}

#coinsString {
	top:6px;
	right:4px;
}

#currentProblem{
	top:150px;
	left:200px;
	font-size:60px;
	}

#streakMsg {
	color:green;
}

#itemHeader, #inventoryContainer {
	color:brown;
}

#shopHeader, #shop {
	color:blue;
}

#shop {
	background-color:#D0D0D0;
}

.shopitemCaption {
	font-size:x-small;
}

.shopitemDescription {
	font-size:xx-small;
}


itemImage {
    float:left;
}


#footerContainer {
	clear: both;
}

#introText {
	font-size:xx-large;
}

#footer {
	font-size:x-small;
}

table, th, td {
	border: 1px solid brown;
	text-align:center;
	font-size:small;
	margin: auto;
}

#shop-alert {
	color:#ff0000;
	display:none;
}